---
import { getCollection } from 'astro:content';
import { Show } from "solid-js";
import Base from '../Base.astro';
import { getSimplifiedDate, getUTCDateComponents } from '../util/dateTools';

const posts = await getCollection(`blog`);

// TODO: search, filtering, sorting, view modes (grid, list, feed), pagination

---

<Base title="blog">
	<div class="options">
		<input type="search" placeholder="search"/>
		<select>
			<option>newest first</option>
			<option>oldest first</option>
		</select>
	</div>

	<div class="postlist">
		{posts.map((post: any) => {
			const pubDate: Date = post.data.pubDate;

			const dc = getUTCDateComponents(pubDate);

			const datepath = `${dc.year}/${dc.month}/${dc.day}`;

			const pubDateISO = post.data.pubDate.toISOString();
			const pubDateSimple = getSimplifiedDate(post.data.pubDate);

			let editDateISO;
			let editDateSimple;

			if (post.data.updatedDate) {
				editDateISO = post.data.updatedDate.toISOString();
				editDateSimple = getSimplifiedDate(post.data.updatedDate);
			}

			return (
				<a href={`/blog/${datepath}/${pubDate.getTime()}`}>
					<article>
						<Show when={post.data.image != null}>
							<div class="featuredImage">
								<img src={post.data.image} />
							</div>
						</Show>
						<h2>{post.data.title}</h2>
						<span>posted <time datetime={pubDateISO}>{pubDateSimple}</time></span>
						<Show when={post.data.updatedDate != null}>
							<span class="updated">
								updated <time datetime={editDateISO}>{editDateSimple}</time>
							</span>
						</Show>
					</article>
				</a>
			)
		})}
	</div>
</Base>

<style lang="scss">
	$optsHeight: 12rem;

	.options {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: $optsHeight;
		background-color: var(--secondary-box-bg);
		padding: var(--edge-pad);
		box-sizing: border-box;
	}

	input[type="search"] {
		padding: 0.5rem 0.75rem;
		font-size: 1rem;
		background-color: var(--box-bg);
		color: var(--text);
		border: none;
		width: 24rem;
	}

	.postlist {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: $optsHeight;
	}

	a {
		text-decoration-color: transparent;
	}

	article {
		$gridPostPad: 1rem;
		position: relative;
		background-color: var(--trim);
		color: var(--box-bg);
		display: flex;
		flex-direction: column;
		aspect-ratio: 1.5 / 1;
		width: 16rem;
		padding: $gridPostPad;

		.featuredImage {
			position: absolute;
			width: 100%;
			height: 75%;
			margin: calc($gridPostPad * -1);
			margin-bottom: 2rem;
			background-color: var(--trim);
			mask-image: linear-gradient(to bottom, #888, black);
			mask-mode: luminance;
			mask-size: cover;;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
				filter: saturate(0);
				mix-blend-mode: multiply;
			}
		}

		// reordering elements doesnt change z-index 
		// for some reason so i have to do this
		:not(.featuredImage) {
			z-index: 1;
		}

		h2 {
			text-decoration-line: underline;
			text-decoration-color: transparent;
			transition: all 250ms var(--anim-timing);
			overflow: hidden;
			margin: 0;
			flex: 1;
		}

		.updated {
			opacity: 0.5;
		}
	}

	a:is(:hover, :focus-visible) h2 {
		text-decoration-color: currentColor;
		transition-duration: 0ms;
	}
</style>