---
import { render } from 'astro:content';
import { Show } from "solid-js";
import { getSimplifiedDate } from '../../util/dateTools';

// TODO: fix image height on smaller displays

const { post } = Astro.props;
const { Content } = await render(post);

const pubDateISO = post.data.pubDate.toISOString();
const pubDateSimple = getSimplifiedDate(post.data.pubDate);

let editDateISO;
let editDateSimple;

if (post.data.updatedDate) {
	editDateISO = post.data.updatedDate.toISOString();
	editDateSimple = getSimplifiedDate(post.data.updatedDate);
}

---

<Show when={post.data.image != null}>
	<div class="featuredImage">
		<img src={post.data.image} />
	</div>
</Show>
<h1>{post.data.title}</h1>
<div class="timestampBlock">
	<span><time datetime={pubDateISO}>{pubDateSimple}</time></span>
	<Show when={post.data.updatedDate != null}>
		<span class="updated">
			updated: <time datetime={editDateISO}>{editDateSimple}</time>
		</span>
	</Show>
</div>
<div class="contentWrapper">
	<Content />
	<div id="empty">
		<span>If you're seeing this, something has gone <strong>terribly wrong!</strong></span>
		<span>...or this post just has no contents, for some reason.</span>
	</div>
</div>
<ul class="tags">
	{post.data.tags.map((tag: string) => (
		<li>#<span>{tag}</span></li>
	))}
</ul>

<style lang="scss">
	.featuredImage {
		width: calc(100% + (var(--edge-pad) * 2));
		height: 16rem;
		margin: calc(var(--edge-pad) * -1);
		margin-bottom: 2rem;
		mask-image: linear-gradient(to bottom, #aaa, black);
		mask-mode: luminance;
		mask-size: cover;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	h1 {
		width: 100%;
		overflow-wrap: anywhere;
		margin: 0;
	}

	.timestampBlock {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 0.5rem;

		.updated {
			opacity: 0.5;
			font-style: italic;
		}
	}

	.contentWrapper {
		width: 100%;
		margin-top: 2rem;
		box-sizing: border-box;

		:global(:nth-last-child(2)) {
			margin-bottom: 0;
		}

		#empty {
			display: none;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
			padding: 6rem 2rem;
			opacity: 0.5;
		}

		#empty:only-child {
			display: flex;
		}
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		list-style: none;
		opacity: 0.5;
		padding: 0;
		gap: 0.25rem 1rem;
		margin: 0;
		margin-top: 2rem;

		li {
			display: inline-flex;
			max-width: 100%;

			span {
				width: 100%;
				word-wrap: break-word;
			}
		}
	}
</style>