---
import { type GetStaticPaths } from "astro";
import { getCollection } from 'astro:content';
import { Show } from "solid-js";
import Base from '../../../../../Base.astro';
import BlogPost from "../../../../../components/blog/BlogPost.astro";
import { getUTCDateComponents } from '../../../../../util/dateTools';

// TODO: custom embed/opengraph content

// TODO: add button to return to post list

export const getStaticPaths = (async () => {
	const posts = await getCollection(`blog`);

	posts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

	const output = [];

	for (let i = 0; i < posts.length; i++) {
		const post = posts[i];
		const pubDate: Date = post.data.pubDate;

		let prevURL = null;
		let nextURL = null;

		const prevPost = posts[i-1];
		const nextPost = posts[i+1];

		if (prevPost != null) {
			const prevPubDate = prevPost.data.pubDate;
			const prevDc = getUTCDateComponents(prevPubDate);

			const datepath = `${prevDc.year}/${prevDc.month}/${prevDc.day}`;
			prevURL = `/blog/${datepath}/${prevPubDate.getTime()}`;
		}

		if (nextPost != null) {
			const nextPubDate = nextPost.data.pubDate;
			const nextDc = getUTCDateComponents(nextPubDate);

			const datepath = `${nextDc.year}/${nextDc.month}/${nextDc.day}`;
			nextURL = `/blog/${datepath}/${nextPubDate.getTime()}`;
		}

		const dc = getUTCDateComponents(pubDate);

		output.push({ 
			params: {
				postId: pubDate.getTime(),
				year: dc.year,
				month: dc.month,
				day: dc.day
			},
			props: {
				post,
				postIndex: posts.length - i,
				totalPosts: posts.length,
				prevURL: prevURL,
				nextURL: nextURL
			}
		});
	}

	return output;
}) satisfies GetStaticPaths;

const { post, postIndex, totalPosts, prevURL, nextURL } = Astro.props;

---

<Base title={post.data.title}>
	<div class="small">
		<main class="contentBox">
			<BlogPost post={post} />
		</main>
		<nav>
			<Show when={prevURL != null}>
				<a class="prevButton contentBox" href={prevURL}>&larr;</a>
			</Show>
			
			<span class="index contentBox">{postIndex} / {totalPosts}</span>

			<Show when={nextURL != null}>
				<a class="nextButton contentBox" href={nextURL}>&rarr;</a>
			</Show>
		</nav>
	</div>
</Base>

<style lang="scss">
	nav {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: space-between;
		margin-top: var(--inner-void-gap);
	}
	.prevButton, .nextButton {
		padding: 1rem;
		width: 10rem;
		text-align: center;
	}

	.prevButton {
		grid-column: 1;
	}

	.index {
		grid-column: 2;
		justify-self: center;
		padding: 1rem;
	}

	.nextButton {
		grid-column: 3;
		justify-self: flex-end;
	}
</style>